//
//  Config.xcconfig
//  GeoTagMac
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// no, really...
// https://stackoverflow.com/questions/21317844/how-do-i-configure-full-urls-in-xcconfig-files

SLASH=/

NEXTZEN_API_KEY = 

ENABLE_PLACEHOLDER = YES

PLACEHOLDER_ENDPOINT = 

ENABLE_OEMBED = YES

OEMBED_ENDPOINTS = 

ENABLE_PROXY_TILES = NO

WRITER_URI = whosonfirst:$(SLASH)/?writer={whosonfirst_writer}&reader={whosonfirst_reader}&update=1&update=1&source=sfomuseum

WHOSONFIRST_WRITER_URI = featurecollection-io:$(SLASH)/?count_features=2

WHOSONFIRST_READER_URI = 

GITHUB_AUTH_URL = https:$(SLASH)/github.com/login/oauth/authorize

GITHUB_TOKEN_URL = https:$(SLASH)/github.com/login/oauth/access_token

GITHUB_CLIENT_ID = 

GITHUB_CLIENT_SECRET = 

GITHUB_SCOPE = repo

GITHUB_CALLBACK_URL = geotag:$(SLASH)/oauth2

GITHUB_KEYCHAIN_LABEL = x-github-access-token#geotag

USE_LOCAL_SERVER = YES

SERVER_URI = http:$(SLASH)/localhost:8080