<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>geotag</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>EnableOEmbed</key>
	<string>$(ENABLE_OEMBED)</string>
	<key>EnablePlaceholder</key>
	<string>$(ENABLE_PLACEHOLDER)</string>
	<key>EnableProxyTiles</key>
	<string>$(ENABLE_PROXY_TILES)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 SFO Museum. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NextzenAPIKey</key>
	<string>$(NEXTZEN_API_KEY)</string>
	<key>GitHubAuthURL</key>
	<string>$(GITHUB_AUTH_URL)</string>
	<key>GitHubTokenURL</key>
	<string>$(GITHUB_TOKEN_URL)</string>
	<key>GitHubClientID</key>
	<string>$(GITHUB_CLIENT_ID)</string>
	<key>GitHubClientSecret</key>
	<string>$(GITHUB_CLIENT_SECRET)</string>
	<key>GitHubScope</key>
	<string>$(GITHUB_SCOPE)</string>
	<key>GitHubCallbackURL</key>
	<string>$(GITHUB_CALLBACK_URL)</string>
	<key>GitHubKeychainLabel</key>
	<string>$(GITHUB_KEYCHAIN_LABEL)</string>
	<key>OEmbedEndpoints</key>
	<string>$(OEMBED_ENDPOINTS)</string>
	<key>PlaceholderEndpoint</key>
	<string>$(PLACEHOLDER_ENDPOINT)</string>
	<key>WriterURI</key>
	<string>$(WRITER_URI)</string>
	<key>WhosOnFirstWriterURI</key>
	<string>$(WHOSONFIRST_WRITER_URI)</string>
	<key>WhosOnFirstReaderURI</key>
	<string>$(WHOSONFIRST_READER_URI)</string>
	<key>UseLocalServer</key>
	<string>$(USE_LOCAL_SERVER)</string>
	<key>ServerURI</key>
	<string>$(SERVER_URI)</string>
</dict>
</plist>
